.data {
    margin: 0 auto;
    background-color: dodgerblue;
    width: 450px;
    height: 70vh;
    margin-top: 100px;
    border-radius: 15px;
}

.data input {
    width: 90%;
    height: 20px;
    padding: 25px;
    margin-left: 23px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.k {
    border-radius: 50px;
}

.image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: -15%;
}
.photo{
    background-color: black;
    width: 20px;
}